@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
  --color-background: #000000;
  --color-text: #FFFFFF;
  --color-accent: #09FE31;
}

* { 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: 'Press Start 2P', sans-serif;
}

a { 
  color: inherit; 
  text-decoration: none; 
}